<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
	<dict>
		<key>PBS</key>
		<key>ShadowsocksIsRunning</key>
		<key>ShadowsocksMode</key>
		<key>config</key>
		<key>proxy encryption</key>
		<key>proxy ip</key>
		<key>proxy password</key>
		<key>proxy port</key>
		<key>public server</key>
		<string>Copv9p5PRHLeK66opkTUkg/nOAlBLd9A3+659k/x3nUmz2O1HoVxtuxOjhRzVzNG</string>
		<string>auto</string>
		<string>aes-256-cfb</string>
		<string>us1.iss.tf</string>
		<string>25072458</string>
		<string>443</string>
		<true></true>
		<data>eyJjdXJyZW50IjowLCJwcm9maWxlcyI6W3sicGFzc3dvcmQiOiIyNTA3MjQ1OCIsIm1ldGhvZCI6
ImFlcy0yNTYtY2ZiIiwic2VydmVyX3BvcnQiOjQ0MywicmVtYXJrcyI6IiIsInNlcnZlciI6InVz
MS5pc3MudGYifV19
</data>
		<false></false>
	</dict>
</plist>