--index https://pypi.python.org/simple/

-e hg+https://bitbucket.org/ronaldoussoren/pyobjc#egg=pyobjc
-e git+https://github.com/metachris/py2app.git#egg=py2app
-e git+https://github.com/jaredks/rumps.git#egg=rumps
-e .
